* {
    font-family: 'Verdana';
}

html {
    background-color: #ebebd3;
    color: #2f1000
}

header {
    display: flex;
    align-items: center;
}


header img {
    float: left;
    width: 50px;
    margin-right: 10px;
    border: 3px solid #2f1000;
    border-radius: 5px;
}

nav {
    background-color: #846c5d;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

nav a {
    float: left;
    color: #fbfbf6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    flex-grow: 1;
    border: 2px solid #2f1000;
    border-left: none;
}

nav a.active {
    background-color: #57473c;
}

nav a.first {
    border-left: 2px solid #2f1000;
}

nav i {
    margin-right: 10px
}
  
main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.contact_info {
    grid-column: 1;
    grid-row: 1;
}

main div {
    display: flex;
    align-items: center;
    font-size: large;
    margin-top: 75px;
    margin-left: 100px;
}

main i {
    margin-right: 10px;
}
  
main a {
    color: #2f1000;
}

form {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    margin: 0 auto;
    margin-top: 75px;
    color: #fbfbfb;
    background-color: #2e5339;
    border-radius: 5px;
}
  
form h3 {
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    width: 100px;
    text-align: right;
    margin-bottom: 5px;
    margin-left: 10px;
}
  
input, textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #fbfbfb;
    background-color: #49845b;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 40%;
}
  
input[type="submit"] {
    width: auto;
}
  