* {
    font-family: 'Verdana';
}

html {
    background-color: #ebebd3;
    color: #2f1000
}

header {
    display: flex;
    align-items: center;
}

header img {
    float: left;
    width: 50px;
    margin-right: 10px;
    border: 3px solid #2f1000;
}

nav {
    background-color: #846c5d;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
nav a {
    float: left;
    color: #fbfbf6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    flex-grow: 1;
    border: 2px solid #2f1000
}

nav a.active {
    background-color: #57473c;
}

nav i {
    margin-right: 10px
}
  
main div {
    display: flex;
    align-items: center;
    font-size: large;
    margin-top: 75px;
    margin-left: 100px;
}

main i {
    margin-right: 10px;
}
  
main a {
    color: #2f1000;
}